# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [4]:
# Show the first ten rows of the city_data_df
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

### Merge the DataFrames

In [5]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [7]:
#  1. Get the total rides for each city type
# Used code from wanghen21, “Pyber_challenge.ipynb.” This simplified the code. Previously creating unnessary dataframes. 
total_rides_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
print(total_rides_count)

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [12]:
# 2. Get the total drivers for each city type.
# Total driver count using Excel, urban: 2,405; suburban: 490; rural: 78
total_drivers_count = pyber_data_df.groupby(["type"]).count()["driver_count"]
print(total_drivers_count)

type
Rural        125
Suburban     625
Urban       1625
Name: driver_count, dtype: int64

In [13]:
#  3. Get the total amount of fares for each city type
total_fare_sum = pyber_data_df.groupby(["type"]).sum()["fare"]
print(total_fare_sum)

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [ ]:
#  4a. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()

In [ ]:
#  4b. Get the average fare per ride for each city type. 
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()

In [ ]:
#  4c. Get the average fare per ride for each city type. 
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

In [ ]:
# 5a. Get the average fare per driver for each city type. 
urban__avg_fare_driver = urban_sum_fare / urban_driver_count
urban__avg_fare_driver

In [ ]:
# 5b. Get the average fare per driver for each city type. 
suburban__avg_fare_driver = suburban_sum_fare / suburban_driver_count
suburban__avg_fare_driver

In [ ]:
# 5c. Get the average fare per driver for each city type.
rural_avg_fare_driver = rural_sum_fare / rural_driver_count
rural_avg_fare_driver

In [ ]:
#  6. Create a PyBer summary DataFrame. 
Pyber_summary_df = pd.DataFrame({
    "Type": per_school_types,
    "Total Rides":
    "Total Drivers":
    "Total Fares:"
    "Average Fare per Ride":
    "Average Fare per Driver":})

# View the dataframe.
Pyber_summary_df.head()

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
# pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')